.compteur {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    align-items: center;
}

.nombre {
    font-size: 2rem;
    font-weight: bold;
}

.bouton {
    width: 100%;
}